.contacts{
    position: fixed;
    right: 3px;
    bottom: 96px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    text-align: center;
    z-index: 10000;

}
.contacts img{
    width: 30px;
}

.main-icon{
    background: white;
    box-shadow: 4px 4px 4px #aaa;
    border-radius: 50%;
    font-size: 26px;
    width: 45px;
    height: 45px;
    margin-top: 11px;
    border: 1px solid #aaa;
    cursor: pointer;

}

.content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 5px;
    overflow: hidden;
    flex-wrap: nowrap;

}
.content a {
    list-style-type: none;
}
img.youtube{ /*It is very small*/
    width: 36px;
}
