h1{
    margin-bottom: 45px;

}
.exams-section{
    display: grid;
    gap: 80px;

}
.exam-section{
    position: relative;
}
/*.exam-section:after{*/
/*    content: '';*/
/*    width: 60%;*/
/*    height: 3px;*/
/*    background: #4901ae;*/
/*    position: absolute;*/
/*    margin-right: auto;*/
/*    left: 20%;*/
/*    bottom: -27px;*/
/*    border-radius: 10px;*/
/*}*/

.exams-header{
    display: flex;
    justify-content: space-between;
}
.exams-header h2{
    text-align: right;
}

.exams{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    min-height: 165px;
}

.card-container{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: end;
    height: 200px;
}
.exam-card{
    display: grid;
    background-image: linear-gradient(170deg, #5601cd, #000);
    min-width: 180px;
    height: 156px;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    color: #e4e4e4;
    position: relative;
    text-align: center;
    z-index: 1;
    justify-content: space-around;
}
.exam-card:hover{
    color: #e4e4e4;
}
.exam-card img {
    width: 75px;
}
.f-icons a ,.f-icons button {
    color: black;
    background: red;
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(170deg, #5601cd, #000);
    color: wheat;
}
.f-icons button{
    color: red;
}
.f-icons a:first-child {
    color: red;
}
.f-icons a:last-child {
    color: #26ff26;
}
.f-icons {
    display: flex;
    justify-content: space-around;
    transition: 0.4s all linear;
    position: absolute;
    bottom: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    transition: all .3s linear;
    z-index: 0;
}


.card-container:hover > .f-icons {
    top: 0;
}


