.rank-container{
    width: 80%;
    right: 10%;
    position: relative;
    background: #3bfb3b5e;
    padding: 20px;
    margin: 20px 0px;
    border: 1px dashed;
    border-radius: 10px;
    color: #373737;
    overflow: hidden;
}
.rank-container > img{
    position: absolute;
    bottom: -92px;
    width: 200px;
    left: -26px;
    opacity: 0.3;
    transform: rotate(-18deg);
}
